@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: url('/css/fonts/Pacifico-Regular.ttf');
}

@keyframes blinker {  
	50% { opacity: 1; }
}

body {
	background: url(/img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}    

main {
	background: rgba(255, 255, 255,.7);
	height: 300px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	bottom: 50%;
	margin-bottom: -120px;
	left: 0;
	right: 0;
	position: fixed;
}
h1 {  
	line-height: 93px;
	text-shadow: 0px 1px 0 #797979, 1px 0px 0 #797979, 1px 1px 0 #797979;
	margin: 6px 0 0 0;
	text-align: center;
	font-size: 50px;
	height: 80px;
}
.login-incorrecto {
	display: none;
	opacity: 0;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #A32C36;
	text-shadow: 0 0 0.5px;
	animation: blinker 2s cubic-bezier(0.04, 1.04, 0, 0.94);
}
#login {
	z-index: 100;
	position: fixed;
	width: 249px;
	bottom: 50%;
	left: 50%;
	margin-bottom: -95px;
	margin-left: -124px;
	font-size: 16px;
	font-weight: bold;
}
#login input:not([type=submit]) {
	background: white;
	color: #616161;
	width: 100%;
	margin: 7px 0;
	border: 2px solid #1875D1;
	height: 40px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold !important;
	border-radius: 2px;
}
#login input[type=submit] { width: 50%; }
#login form > div {	margin-top: 15px; }
#login div div {
	float: left;
	width: 50%;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 0 1px black;
}
#login div > span {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	bottom: 16px;
	left: -18px;
}
#login label {
	position: relative;
	margin: 5px 7px 0 0;
	float: right;
	width: 96px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: #551419;
	border: 3px solid #551419;
	border-radius: 23px;
	transition: border-color 0.2s ease-in 0s;
	-webkit-transition: border-color 0.2s ease-in 0s;

}
#login input[type=checkbox]{ display: none; }
#login label div {
	width: 200%;
	margin-left: -100%;
	transition: margin 0.2s ease-in 0s;
	-webkit-transition: margin 0.2s ease-in 0s;
	will-change: margin;
}
#login label div:before, label div:after {
	text-shadow: 0 0 1px white;
	color: white;
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
#login label div:before {
	content: "si";
	padding-left: 20px;
	background: #1875D1;
}
#login label div:after {
	content: "no";
	padding-right: 20px;
	background: #A32C36;
	text-align: right;
}
#login label span {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50px;
	transition: right 0.2s ease-in 0s;
	-webkit-transition: right 0.2s ease-in 0s;
	will-change: right;
	height: 34px;
	width: 34px;
	border-radius: 17px;
	margin: 3px;
	background: white;
}
#login input[type=checkbox]:checked + label div { margin-left: 0; }
#login input[type=checkbox]:checked + label span { right: 0; }
#login input[type=checkbox]:checked  + label {
	border-color: #2F3E9E;
	background: #2F3E9E;
}
