#cortina{
	display: none;
	top: 0;
	z-index: 99;
	transition: background .6s;
	-webkit-transition: background .6s;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
#login {
	z-index: 100;
	position: fixed;
	width: 249px;
	bottom: 50%;
	left: 50%;
	margin-bottom: -95px;
	margin-left: -124px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
#login input:not([type=submit]) {
	width: 100%;
	margin: 7px 0;
	border: 2px solid #09C;
	color: #FFF;
	background: transparent;
	height: 40px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold !important;
	transition: background .2s, box-shadow .2s, color .2s, border-color, .2s;
	-webkit-transition:  background .2s, box-shadow .2s, color .2s, border-color, .2s;
	border-radius: 2px;
}
#login input:not([type=submit]):focus {
	box-shadow: 0 0 6px rgba(0, 144, 192, 0.5);
	background: rgba(0, 0, 0, 0.25);
}
#login input[type=submit] { width: 50%; }
#login form > div {	margin-top: 15px; }
#login div div {
	float: left;
	width: 50%;
	font-size: 14px;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1px white;
}
#login div > span {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	bottom: 16px;
	left: -18px;
}
#login label {
	position: relative;
	margin: 5px 7px 0 0;
	float: right;
	width: 96px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 3px solid #551419;
	border-radius: 23px;
	color: white;
	transition: border-color 0.2s ease-in 0s;
	-webkit-transition: border-color 0.2s ease-in 0s;

}
#login input[type=checkbox]{ display: none; }
#login label div {
	width: 200%;
	margin-left: -100%;
	transition: margin 0.2s ease-in 0s;
	-webkit-transition: margin 0.2s ease-in 0s;
	will-change: margin;
}
#login label div:before, label div:after {
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
#login label div:before {
	content: "si";
	padding-left: 20px;
	background: #2A96E7;
}
#login label div:after {
	content: "no";
	padding-right: 20px;
	background: #A32C36;
	text-align: right;
}
#login label span {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50px;
	transition: right 0.2s ease-in 0s;
	-webkit-transition: right 0.2s ease-in 0s;
	will-change: right;
	height: 34px;
	width: 34px;
	border-radius: 17px;
	margin: 3px;
	background: white;
}
#login input[type=checkbox]:checked + label div { margin-left: 0; }
#login input[type=checkbox]:checked + label span { right: 0; }
#login input[type=checkbox]:checked  + label { border-color: #144D79; }
#denegado {
	z-index: 100;
	display: none;
	width: 100%;
	position: fixed;
	bottom: 50%;
	text-align: center;
	margin: auto;
	color: #A32C36;
	text-shadow: 0 7px 0 #551419;
	font-weight: bold;
}
#denegado div {
	opacity: 0;
	display: table;
	margin: auto;
}
