input[name=apellidos] { float: right;}
input[name=esp] { width: 100%; }
section, main {
	overflow: auto;
	width: 100%;
	max-width: 100%;
}
section { padding: 20px 0 0 0!important; }
.calendario-semanal{
	width: 650px;
	overflow: visible;
}
.calendario-semanal > div > span { cursor: pointer; }
.calendario-semanal > div {
	height: 54px;
	overflow: visible;
	margin-bottom: 10px;
}
form label {
	width: 207px;
	display: inline-block;
}
.selector-horario, .selector-horario * { box-sizing: content-box; }
.dia-seleccionado + .horas-horario + .selector-horario { opacity: 1; }
.selector-horario {
	display: inline-block;
	margin-top: 9px;
	height: 10px;
	background: #CCC;
	border-radius: 20px;
	position: relative;
	background-color: rgba(0,0,0,0.1);
	border: 10px solid white;
	width: 590px;
	margin-right: -30px;
	opacity: .2
}
.scroll-barra-izquierda, .scroll-barra-derecha {
	min-width: 5px;
	width: 25%;
	height: 100%;
	background: #009587;
	position: relative;
	float: left;
}
.scroll-barra-izquierda {
	margin-left: 216px; 	/* posicion inicial */
	width: 96px;		/* posicion inicial */
}
.scroll-barra-derecha {
	margin-left: 48px;	/* 2 horas */
	width: 120px;		/* posicion inicial */
}
.scroll-circulo {
	position: absolute;
	cursor: pointer!important;
	margin-top: -5px;
	background: white;
	border: 2px solid black;
	height: 15px;
	border-radius: 15px;
	width: 15px;
	box-shadow: 0 1px 1px 0.1px rgba(0,0,0,.5);
}
.scroll-izquierda { left: -12px; }
.scroll-derecha { right: -12px; }
.horas-horario {
	position: relative;
	float: left;
	clear: both;
	opacity: 0.1;
	margin-top: -20px;
	margin-left: 65px;
	margin-top: -15px;
	font-size: 12px;
	color: #616161;
}
.dia-seleccionado + .horas-horario { opacity: 1 }
.horas-horario > div { float: left; }
.horas-horario .hora {
	color: #616161;
	cursor: pointer;
	font-size: 12px;
	padding: 0;
	border: none;
	margin: 0;
	display: inline;
	height: inherit;
	font-weight: normal!important;
	width: 31px;
}
.horas-horario > span > div {display: inline-block; }
.horas-horario span:last-child { margin-left: 20px; }
@media only screen and (max-width: 700px) {
	.calendario-semanal > div > span { margin-left: 20px; }
	.calendario-semanal { width: 598px }
	.calendario-semanal > div { height: 85px; }
	.horas-horario { margin: -32px 0 0 85px; }
	.selector-horario {
		margin-top: 0;
		margin-left: 1px;
	}
	.scroll-circulo { border-width: 3px; }
}
@media only screen and (max-width: 615px) {
	.calendario-semanal {
		width: 80%;
		margin: auto;
	}
	.calendario-semanal > div > span { margin-left: 0; }
	.selector-horario { display: none; }
	.horas-horario { margin: -38px 0 0 22%; }
	.horas-horario .hora {
		width: 42px;
		font-size: 16px;
		border-bottom: 3px solid #1875D1;
		display: inline;
	}
}
@media only screen and (max-width: 400px) {
	.calendario-semanal { width: 85%; }
}
