#envoltorio { background: #f6f6f6; }
main { max-width: 1120px; }
#dia { text-align: center; }
.hora {
	margin-top: 20px;
	color: #808080;
}
.hora span { margin-left: 10px; }
hr {
	border: none;
	border-top: 1px solid #e0e0e0;
}
#menu-opciones {
	visibility: hidden;
	position: absolute;
	margin: auto;
	z-index: 101;
	margin-left: -16px;
	margin-top: 200px;
}
#menu-opciones.mostrar-cortina { visibility: visible; }
#menu-opciones span {
	width: 93px;
	float: left;
	margin: 1px;
}
section {
	cursor: pointer;
	vertical-align: top;
	padding: 10px 20px!important;
	display: inline-block;
	border-bottom: 1px solid #f3f3f3;
	margin: 10px;
	width: 250px;
	position: relative;
}
section h3 { color: black; }
section h5 { margin: 5px 20px; }
section span { float: right; }
#icono-editar {
	visibility: hidden;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(/img/edit.svg);
}
section:hover #icono-editar { visibility: visible; }
section.mostrar-cortina {
	z-index: 101;
	background: white;
	box-shadow: none;
	cursor: inherit;
}
section.mostrar-cortina:hover #icono-editar { visibility: hidden; }
@media only screen and (max-width: 1160px) {
	section {
		display: inline-block;
		margin: 2px;
	}
}
@media only screen and (max-width: 570px) {
	section {
		width: 80%;
		display: block;
		margin: 5px auto;
	}
}