#envoltorio { background: #f6f6f6; }
main {
	width: 100%;
    max-width: inherit;
    overflow: auto;
    margin-bottom: 0;
}
#contenedor-listado {
    padding: 20px;
    overflow: auto;
}
footer {
    display: none!important;
}
#dia {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 80px;
    width: 100px;
    z-index: 1;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.hora {
	margin-top: 20px;
	color: #808080;
}
.hora span { margin-left: 10px; }
hr {
	border: none;
	border-top: 1px solid #e0e0e0;
}
#menu-opciones {
	visibility: hidden;
	position: absolute;
	margin: auto;
	z-index: 101;
	margin-left: -16px;
	margin-top: 200px;
}
#menu-opciones.mostrar-cortina { visibility: visible; }
#menu-opciones span {
	width: 93px;
	float: left;
	margin: 1px;
}
.contenedor-especialidad {
    width: 283px;
    margin-right: 10px;
    padding-right: 12px;
    border-right: 1px solid #e0e0e0;
    float: left;
}
section {
	cursor: pointer;
	vertical-align: top;
	padding: 10px 20px!important;
	display: block;
	border-bottom: 1px solid #f3f3f3;
	margin: 10px 10px 0!important;
	position: relative;
}
section h3 { color: black; }
section h5 { margin: 5px 20px; }
section span {
    position: absolute;
    right: 10px;
    bottom: 5px;
}
#icono-editar {
	visibility: hidden;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(/img/edit.svg);
}
section:hover #icono-editar { visibility: visible; }
section.mostrar-cortina {
	z-index: 101;
	background: white;
	box-shadow: none;
	cursor: inherit;
}
section.mostrar-cortina:hover #icono-editar { visibility: hidden; }
@media only screen and (max-width: 1160px) {
	section {
		display: inline-block;
		margin: 2px;
	}
}
@media only screen and (max-width: 570px) {
	section {
		width: 80%;
		display: block;
		margin: 5px auto;
	}
}
