@keyframes animacionOpacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cortina {
	cursor: pointer;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .75);
	display: none;
}
nav {
	background: white;
	display: block;
	width: 0;
	overflow: hidden;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px 0;
	width: 250px;
	border-right: 2px solid #f3f3f3;
}
nav span {
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	width: 250px;
	font-size: 12px;
	display: block;
	color: #9c9c9c;
	border-bottom: 2px solid #f3f3f3;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
nav span.seleccionado {	color: #212121; }
#envoltorio {
	background: white;
	overflow: auto;
	position: relative;
	margin-left: 0;
	transition: margin-left .2s;
	-webkit-transition: margin-left .2s;
	will-change: margin-left;
}
.mostrar_panel_lateral #envoltorio, .mostrar_panel_lateral header { margin-left: 250px; }
@keyframes mostrarheader {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
    animation: mostrarheader .2s;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #3E50B4;
	color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	margin-left: 0;
	transition: margin-left .2s;
	-webkit-transition: margin-left .2s;
	will-change: margin-left;
}
header > div:first-child { padding: 20px 40px; }
#cerrar-session {
	cursor: pointer;
	height: 56px;
	width: 56px;
	position: absolute;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	background-color: #ff4081;
	border-radius: 100%;
	right: 20px;
	top: 44px;
	z-index: 1;
	font-size: 30px;
	line-height: 56px;
	text-align: center;
	transition: top .2s;
	-webkit-transition: top .2s;
	will-change: top;
}
#mostrar_menu {
    position: relative;
    z-index: 10;
	cursor: pointer;
	width: 26px;
	float: left;
	margin-right: 20px;
	margin-top: 4px;
	border-width: 0;
	transition: border-right-width .2s ease-in, border-top 0s .2s, margin 0s .2s, width .2s ease-in .3s;
	-webkit-transition: border-right-width .2s ease-in, border-top 0s .2s, margin 0s .2s, width .2s ease-in .3s;
	will-change: width;
}
#mostrar_menu > div {
	height: 3px;
	margin-bottom: 6px;
	background: white;
	border-radius: 1px;
}
.mostrar_panel_lateral #mostrar_menu{
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #324193;
	margin-top: 0;
	margin-right: 15px;
	transition: width .2s ease-in, border-top 0s .2s, margin 0s .2s, border-right-width .2s ease-in .3s;
	-webkit-transition: width .2s ease-in, border-top 0s .2s, margin 0s .2s, border-right-width .2s ease-in .3s;
	will-change: border-right-width;
}
header h1 {
    opacity: 0;
    animation: 1.4s animacionOpacidad .2s forwards;
	font-size: 27px;
	font-weight: normal;
	text-transform: capitalize;
	margin: 0;
}
main {
	display: hidden;
	min-height: 300px;
	margin: 50px auto;
	padding-top: 55px;
	width: 90%;
	max-width: 800px;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}
section {
    overflow: auto;
	margin-bottom: 40px;
}
section.con-sombra {
	padding: 30px 50px;
	line-height: 23px;
	letter-spacing: 0.5px;
	color: #616161;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
footer {
    display: none;
    opacity: 0;
    animation: animacionOpacidad .2s linear forwards;
	height: 100px;
	background-color: #424242;
}
@media only screen and (max-width: 950px) {
	body.mostrar_panel_lateral * { cursor: pointer; }
	nav { border: none; }
	#envoltorio {
		outline: none;
		width: 100%;
		box-shadow: 0 0px 10px rgba(0,0,0,0.4);
	}
	header { width: 100%; }
}
@media only screen and (max-width: 900px) {
	section { padding: 20px!important; }
}
@media only screen and (max-width: 350px) {
	main { width: 100%; }
}
